[Unit]
Description=RotorBench Backend API
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/CIS5120-HCI/CIS5120_Final_Project/backend
ExecStart=/home/ubuntu/CIS5120-HCI/CIS5120_Final_Project/backend/venv/bin/python main.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
